.anylink:hover {
  color: #0082b3;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6rem 0 5rem 0;
  padding: 0 5rem;
}

@media screen and (max-width: 764px) {
  .intro {
    margin-top: 3rem;
  }
}

.introimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  /* width: 40%; */
}

.introdiv {
  /* margin: 1rem; */
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1190px) and (min-width: 948px) {
  .introdiv {
    /* width: 60%; */
  }
}

.introh1 {
  font-size: 64px;
  font-family: "Oswald";
  font-weight: 500;
  color: #000000;
}

.introbtn {
  display: flex;
  justify-content: flex-end;
}

.introp {
  font-size: 20px;
  margin-bottom: 2rem;
  font-family: "Raleway";
  color: #000000;
}

@media screen and (max-width: 950px) {
  .intro {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
  .introdiv {
    /* width: 80%; */
  }
  .introimg {
    /* width: 60%; */
  }
  .introh1 {
    text-align: center;
  }
}

@media screen and (max-width: 525px) {
  .introimg {
    /* width: 80%; */
    height: 80vw;
  }
}
