@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrolling-text {
    animation: scrolling-text 10s linear infinite;
  }

  @keyframes scrolling-text {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}

body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
  font-family: "Barlow Semi Condensed", sans-serif;
}
